body {
    background-color: #0c739f;
    background-image: url('../img/background.png');
    background-repeat: repeat-x;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
}

.container {
    width: 1000px;
    min-height: 800px;
    margin: auto;
    background-color: white;
    box-shadow: 0 5px 10px;
}

.clearfix {
    clear: both;
}


/*HEADER*/

header {
    width: 100%;
    height: 173px;
    box-sizing: border-box;
    color: #128aa7;
    padding: 0px 35px 0 30px;
}

header>img {
    position: absolute;
    margin-top: 15px;
}

header>a {
    display: block;
    box-sizing: border-box;
    position: absolute;
    color: #128aa7;
    padding: 100px 50px 25px 75px;
    text-decoration: none;
}

.contacts {
    padding-top: 5px;
    float: right;
    line-height: 16px;
}

.contacts__header {
    font-weight: bold;
    line-height: 25px;
}

.countries {
    float: right;
    display: flex;
    justify-content: space-between;
    padding-top: 33px;
    font-size: 10px;
}

.countries a {
    color: #128aa7;
    text-align: center;
}

.countries a:hover {
    position: relative;
    top: -1px;
}

ul.countries li {
    width: 55px;
    text-align: center;
}


/*INNER CONTAINER*/

.container-inner>img {
    height: 237px;
    width: 1000px;
    border-top: 1px solid #128aa7;
    border-bottom: 1px solid #128aa7;
}


/*MENU*/


ul.menu {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #303030;
    border-bottom: 1px solid black;
    box-shadow: 0 5px 5px;
    z-index: 100;
}

ul.submenu {
    border-top: 1px solid black;
}

ul.menu a {
    color: white;
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    padding: 0 20px 0 20px;
}

ul.menu a:hover {
    color: #128aa7;
}

ul.submenu {
    display: none;
    position: absolute;
    box-shadow: 0 3px 5px;
}

ul.menu>li:hover>ul.submenu {
    display: block;
}

ul.submenu {
    background-color: #303030;
}


/*CONTENT andCOLUMNS*/
.content {
    display: flex;
    flex-direction: row;
    min-height: 600px;
    line-height: 21px;
}
.content h3{
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  padding-bottom: 10px;
  font-weight: 600;

}


.col-left, .col-right {
    width: 21%;
    background-color: #edeef0;
}

.col-center {
    width: 58%;
}

.col-left, .col-right, .col-center {
    padding: 20px;
    color: #424c43;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
}
/*FOOTER*/
footer {
  display: flex;
  justify-content: center;
  font-size: 12px;
  line-height: 35px;
  color: white;
}
