.logo
    // width: 120px;
    // height: 36px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3)
    color: $color-prime
    font-family: $font-prime
    font-size: 3rem
    // line-height: 2.125
    text-transform: uppercase

    &_accent
        // width: 29px
        color: #c3e54b
        background: linear-gradient(to top, #322539, #745083)
        -webkit-background-clip: text
        color: transparent
        //#322539 #745083
