/*lucida-sans-unicode.ttf*/

body {
    font-family: Arial, sans-serif;
    background: url('../index.png') no-repeat top;
}

.container {
    box-sizing: border-box;
    width: 1000px;
    margin: auto;
    padding: 18px 45px 0 45px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.contacts {
    color: #5e696d;
    font-size: 18px;
    line-height: 25.46px;
    letter-spacing: 0.025em;
    /*display: inline-block;*/
}

.contacts::before {
    box-sizing: border-box;
    content: '';
    background: url('../img/phone.png') no-repeat center;
    display: inline-block;
    width: 22px;
    height: 21px;
    position: relative;
    top: 4px;
    left: 7px;
}

.contacts p {
    display: inline-block;
    position: relative;
    left: 10px;
}


/*LOGIN FORM*/

.login-form {
    /*background-image: linear-gradient(to bottom, #206988 0%, #114165 59%, #2c564a 100%);*/
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 11px;
    height: 26px;
    width: 495px;
    border-radius: 5px;
    box-shadow: 0 0 5px;
    margin-left: 27px;
    margin-top: -3px;
    font-size: 10.91px;
    font-family: "Lucida Sans Unicode", Arial, sans-serif;
}

.login-form form {
    font-size: 11px;
}

input[type="text"], input[type="password"] {
    height: 11px;
    font-size: 10.91px;
}

input[type="text"] {
    width: 111px;
    position: relative;
    left: 6px;
    top: -4px;
}

input[type="password"] {
    width: 110px;
    position: relative;
    left: 9px;
    top: -4px;
}

header form:before {
    content: '';
    display: inline-block;
    background-image: url('../img/login.png');
    width: 14px;
    height: 18px;
    position: relative;
    top: 3px;
    left: 6px;
}

input[type="submit"] {
    background: 0;
    border: 0;
    color: #fff;
    font-size: 10.91px;
    position: relative;
    top: -3px;
    left: 7px;
    font-family: "Lucida Sans Unicode";
    letter-spacing: -0.01em;
}

.login-form__registration, .login-form__forgot-pwd {
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 7px;
    font-family: "Lucida Sans Unicode";
    letter-spacing: -0.015em;
}

input[type="submit"]:hover, .login-form__registration:hover, .login-form__forgot-pwd:hover {
    color: #bfbfbf;
    text-decoration: underline;
}

.login-form__registration:before {
    content: '|';
    position: relative;
    top: 0px;
    left: -3px;
}

.login-form__forgot-pwd {
    font-size: 12px;
    position: relative;
    top: -1px;
    left: 28px;
    letter-spacing: 0.005em;
}

.icons-group {
    display: inline-block;
    height: 20px;
    width: 75px;
    border-radius: 10px;
    border: 1px solid #bdc4c7;
    margin-left: 16px;
    margin-top: -5px;
}


/*SLIDER*/

.slider {
    margin-top: 8px;
}

.slider__link {
    position: relative;
    top: -108px;
/*display: block;*/
    width: 250px;
    text-align: right;
}
.slider__link a {
  text-decoration: none;
}
