@charset "utf-8";

.movie-list {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    width: 1280px;
    margin: auto;

    &::after {
        clear: both;
        display: block;
        content: '';
    }

    &__poster {
        padding: 10px;
        height: 446px;
        width: 300px;
        float: left;
    }

}

.search {
    width: 1280px;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;

    &::after {
        clear: both;
        display: block;
        content: '';
    }

    input {
        float: left;
    }

    &__field {
        width: 300px;
    }

    &__message {
        width: 1280px;
        margin: auto;
        padding: 10px;
        box-sizing: border-box;
    }

}
