.tab-item
    &__text
        border: 1px solid #ddd
        border-top: transparent
        padding: 10px 20px
        min-height: 150px

.tabs
    padding-top: 50px

form
    margin-top: 75px

.input-group
    margin-top: 20px

.alert
    margin-top: 20px
    margin-bottom: 0px
    padding: 6px 20px

.btn
    margin-top: 20px














// @charset "utf-8"
//
// .page
//     color: white
//     background-color: black
//     display: flex
//     justify-content: center
//
// ul > li
//     list-style: none
//
// .hidden
//     display: none

// /* counter start */
// .counter
//     font-family: monospace
//     display: flex
//     flex-direction: column
//     align-items: center
//     // width: 700px
//     // margin: auto
//
//     &__time
//         font-size: 84px
//         color: red
//
//     &__controls
//
//     &__btn
//       height: 50px
//       width: 150px
//       font-size: 32px
//       font-family: monospace
//       cursor: pointer
//
//
// .results
//     &__item
//         font-size: 40px
//         color: rgb(102, 102, 102)
//
//         td
//             padding: 0 20px
//
//
//
// /* counter end */

//slider
//
// .slider
//     margin: auto
//     width: 450px
//     background-color: #eee
//     border: 1px solid #ccc
//     border-radius: 20px
//     display: flex
//     align-items: center
//     justify-content: space-between
//
//     &::after
//         clear: both
//         content: ''
//         display: block
//
//
//     &__control
//         width: 1rem
//         border-radius: 100%
//         border: 1px solid #ccc
//         display: inline-block
//         cursor: pointer
//
//         &_left
//             // float: left
//             &::before
//                 content: "\21E6"
//
//         &_right
//             // float: right
//             &::before
//                 content: "\21E8"
//
//     &__frame
//         display: flex
//         overflow: hidden
//         width: 390px
//
//     &__body
//         flex-shrink: 0
//         display: flex
//         justify-content: space-between
//         width: 390px
//         height: 130px
//         position: relative
//
//     &__item
//         // display: inline-block
//         flex-shrink: 0
//         width: 130px
//         height: 130px
//
// @for $i from 1 through 9
//     .slider__item_#{$i}
//         background-image: url(../img/#{$i}.png)
