.benefit {
    width: 30.69%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    &__number {
        color: rgba(42, 43, 46, .1);
        font-size: 90px;
        line-height: 64px;
        // font-family: Ubuntu;
        // font-weight: 500;
    }

    &__body {
        display: flex;
        flex-direction: column;
        width: (237px/356px)*100+%;
    }

    &__icon {
        width: 32px;
        height: 32px;
        fill: rgb(244, 182, 13);
        margin-bottom: 13px;
    }

    &__title {
        color: rgb(42, 43, 46);
        font-size: 20px;
        margin-bottom: 25px;
        // font-family: Ubuntu;
        // font-weight: 500;
    }

    &__text {
        color: rgb(138, 138, 138);
        margin-bottom: 22px;
        font-size: 13px;
        font-family: Arial;
        font-weight: 400;
    }

    &__read-more {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: rgb(42, 43, 46);
        font-size: 13px;
        // font-family: Ubuntu;
        // font-weight: 500;

        &:hover {
            color: rgb(36, 140, 236);

            & > .benefit__arrow {
                color: rgb(152, 159, 179);
            }
        }
    }

    &__arrow {
        font-size: 25px;
        padding-left: 9px;
        color: rgb(36, 140, 236);
    }

}
