.headline {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__socials {

        a {
            text-decoration: none;
        }

        .icon {
            display: inline-block;
            margin-left: 20px;
            width: 16px;
            height: 16px;
            fill: rgba(0, 0, 0, .2);

            &:hover {
                fill: rgb(36, 140, 236);
            }
        }
    }
}
