.services {
    background-color: rgb(42, 45, 50);


    &__container {
        @include container {
            padding: 47px 0 70px 0;
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        color: rgb(255, 255, 255);
        font-size: 24px;
        margin-bottom: 57px;
        // font-family: Ubuntu;
        // font-weight: 500;
    }
}
