.slider {
    position: relative;
    width: 100%;
    height: 470px;
    overflow: hidden;

    &__body {
        position: relative;
        width: 9999px;
        font-size: 0;
    }

    &__item {
        height: 470px;
        width: 1160px;
        display: inline-block;
    }

    &__controls {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: -17px-16px;
    }

    &__control-item {
        opacity: 0;
        position: absolute;

        & + label::before {
            left: 0;
            display: block;
            content: '';
            height: 9px;
            width: 9px;
            border: 3px solid rgb(255,255,255);
            margin-right: 15px;
            background: rgb(255, 255, 255);
        }

        &[checked="checked"] + label::before {
            background: rgb(0, 0, 0);
        }
    }

    &__text {
        position: absolute;
        left: 36px;
        bottom: 40px;

    }

    &__text-line {
        float: left;
        clear: left;
        display: block;
        background: rgba(0, 0, 0, .9);
        font-size: 54px;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        padding: 0 25px;
        line-height: .9;
        min-width: 155px;
        // font-family: Ubuntu;
        // font-weight: 500;

        &_first {
            padding-top: 25px;
        }

        &_last {
            padding-bottom: 25px;
        }

        &_accent {
            color: rgb(244, 182, 13);
        }
    }

}
