body {
  color: #e6e6e6;
  background-color: black;
  font-family: Tahoma;
}
#container {
  width: 820px;
  height: 795px;
  margin: auto;
  padding: 55px 70px 30px 70px;
  background-color: black;
  background-image: url(../img/background.jpg);
}
/*HEADER*/
#header {
  min-height: 266px;
  overflow-y: hidden;
}
#logo {
    width: 266px;
    height: 147px;
    float: left;
    text-align: center;
    background-image: url(../img/logo.png);
}
/*#logo img {
  float: left;
}*/
#slogan {
  position: relative;;
  top: 117px;
  font-size: 11px;
  /*float: left;*/
}
#contacts {
  float: right;
  position: relative;
  top: 90px;
  right: 20px;
}
#contacts span {
  display: block;
  font-size: 11px;
  line-height: 11px;
}
#contacts #contacts-head {
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
}
/*CONTENT*/
#content {
  clear: both;
  overflow-y: hidden;
  /*height: 100%;*/
}
.country {
  float: left;
  margin-bottom: 45px;
  text-align: center;
  background-image: url(../img/country_bg.png);
  background-repeat: no-repeat;
}
.country:not(:nth-child(3n)) {
  margin-right: 5px;
}
.country img {
  padding: 5px;
}
/*.border-with-shadow {
  border: 1px #989898 solid;
  line-height: 11px;
  box-shadow: 0 0 2px;
}*/
.country-name {
  margin-top: 8px;
  font-size: 15px;
}
/*FOOTER*/
footer {
  margin-top: 140px;
  clear: both;
  text-align: center;
  font-size: 11px;
}



/*

270 188
260 178*/
