.cell {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-sizing: border-box;
}

.cell_1-2 {
    flex-basis: 50%;
}

.cell_1-3 {
    flex-basis: 33.3333%;
}

.cell_2-3 {
    flex-basis: 66.6666%;
}

.cell_1-4 {
    flex-basis: 25%;
}

.cell_1-5 {
    flex-basis: 20%;
}

.cell_top {
    justify-content: flex-start;
    flex-direction: column;
}

.cell_end {
    justify-content: flex-end;
    flex-direction: column;
}

.cell_center {
    justify-content: center;
    flex-direction: column;
}
