//color schema
$color-prime: #fff
$color-sec: #c3e54b

//typography
$font-prime: "League Gothic", sans-serif
$font-sec: "Open Sans Light"
$font-sec_bold: "Open Sans Extrabold"

$font-size: 1rem
$line-height: 1
