@charset "utf-8"; // slider
//style reset
///carouse styles
li,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.carousel {
    font-size: 0;
    margin: auto;
    width: 422px;

    &__visible-part {
        width: 390px;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
    }

    &__body {
        width: 10000px;
        height: 130px;
        position: relative;

        &::after {
            clear: both;
            content: '';
            display: block;
        }
    }

    &__item {
        display: block;
        float: left;
    }

    &__control {
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        border: 1px solid #ccc;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;

        &_prev::before {
            position: relative;
            top: -1px;
            left: -4px;
            content: "\21E6";
        }

        &_next::before {
            position: relative;
            top: -1px;
            left: -4px;
            content: "\21E8";
        }
    }
}
///template styles
.profile {
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;

    &:nth-child(even) {
        background: #ccc;
    }
}
