.banners {
    width: 46%;
    line-height: 20px;

    &__title {
        color: rgb(42, 45, 50);
        font-weight: 500;
        margin-bottom: 48px;
        font-family: Ubuntu;
        font-size: 24px;
    }
}
