.basement {
    background-color: #34373c;
    color: rgba(255, 255, 255, .2);
    font-size: 12px;
    font-family: Arial;
    font-weight: 400;
    box-sizing: border-box;


    &__container {
        @include container {
            padding: 20px 0;
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
        }
    }

    &__item {
        display: inline-block;
        margin-right: 43px;
        vertical-align: middle;

        &:last-child {
            margin-right: 0;
        }

        & .icon {
            display: inline-block;
            vertical-align: middle;
            width: 16px;
            height: 16px;
            fill: rgba(255, 255, 255, .2);
            margin-right: 10px;
        }
        span {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__copy {
        margin: 0;
        padding: 0;
    }

}
