.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &__img {
        margin-right: 11px;
    }

    &__text {
        color: #434343;
        font-size: 30px;
        line-height: 15px;
        position: relative;
        top: 3px;
        // font-family: $font-main;
        // font-weight: 500;

        &_accent {
            position: static;
            opacity: 0.65;
            color: #333333;
            font-size: 12px;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
    }
}
