@charset "utf-8";

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    &__poster {
        padding: 1%;
        height: 1%;
        width: 18%;
        float: left;
    }

}
.title {
    padding: 1%;
}

h1 {
    margin: 0;
}

.search {
    padding: 1%;
    box-sizing: border-box;

    &__form {

        &::after {
            clear: both;
            display: block;
            content: '';
        }
    }

    input {
        float: left;
    }

    &__field {
        width: 300px;
    }

    &__message {
        padding: 1% 0;
        height: 1rem;
    }

}
