.btn {
	display: inline-block;
	font-size: 14px;
	@include font-main();
	padding: 13px;
	border: 0;

	&_main {
		color: #ffffff;
		width: 280px;
		height: 40px;
		border-radius: 19px;
		background-color: #ff4e50;
	}

	&_white {
		/* Style for "See other" */
		// width: 132px;
		// height: 14px;
		width: 280px;
		height: 40px;
		border-radius: 19px;
		border: 2px solid #ff4e50;
		background-color: #ffffff;
		color: #ff4e50;
	}
}
