.grid {
	width: 100%;
	@include clearfix();

	&__gutter-sizer {
		@include respond-to(sm) {
			width: 2%;
		}
	}

	&__column-sizer {}

	&__item {
		overflow: hidden;
		margin-bottom: 10px;
		border-radius: 4px;
		height: 120px;
		width: 100%;
		float: left;
		position: relative;
		box-sizing: border-box;

		display: flex;
		justify-content: center;
		align-items: center;

		@for $i from 1 through 7 {
			&_#{$i} {
				background-image: url('../img/activity_#{$i}.jpg');
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
			}
		}


		@include respond-to(sm) {
			height: 310px;
			width: 32%;
			margin-bottom: 20px;
			margin-right: 2%;

			&:nth-child(2n+4) {
				margin-right: 0;
			}

			&_wide {
				width: 66%;
			}
		}

		& h6 {
			color: #fff;
			font-size: 22px;
			@include font-main();
		}

	}
}
