body {
    font-family: Tahoma, sans-serif;
    /*display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;*/
    text-align: center;
    padding-top: 20px;
    background-color: white;
}

@media screen and (min-width:200px) and (max-width:319px) {
    .team-code {
        font-size: 12px;
    }

}

@media screen and (min-width:319px) and (max-width:519px) {
    .team-code {
        font-size: 15px;
    }

}

@media screen and (min-width:520px) and (max-width:719px) {
    .team-code {
        font-size: 20px;
    }
}

@media screen and (min-width:720px) and (max-width:919px) {
    .team-code {
        font-size: 26px;
    }

}

@media screen and (min-width:920px) and (max-width:1039px) {
    .team-code {
        font-size: 28px;
    }

}

@media screen and (min-width:1040px) and (max-width:1167px) {
    .team-code {
        font-size: 32px;
    }

}

@media screen and (min-width:1168px) and (max-width:2040px) {
    .team-code {
        font-size: 36px;
        display: flex;
        justify-content: center;
        flex-direction: row;

    }

}
/*.goals {
    display: flex;
    justify-content: center;
}*/

.css {
  float: left;
  text-align: left;
}
.align-css-code::after {
  content: '';
  clear: both;
}
.align-css-code {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

/*.goals {
    margin: auto;
}*/

h2 {
    font-size: 36px;
    color: #565656;
    /*clear: both;*/
    /*padding-bottom: 20px;*/
}

hr {
    width: 100px;
    height: 5px;
    background-color: #bbb;
    border: none;
    margin-top: 40px;
    margin-bottom: 40px;
    clear: both;
}

.image-gallery-wrapper {
    margin: auto;
    max-width: 800px;
    padding-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /*align-items: s;*/
}


/*.who-we-are-group {
    padding-top: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}*/

.who-we-are-image img {
    width: 200px;
    border-radius: 100px;
}

.who-we-are-info {
    padding: 20px;
    width: 225px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*overflow: hidden;*/
    /*text-align: center;*/
}

.name {
    color: #608C28;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 24px;
    line-height: 21px;
}

.company-title {
    color: #767777;
    font-family: "PT Serif";
    font-style: italic;
    font-size: 14px;
}

.bio {
    display: none;
    /*position: absolute;*/
    /*background: white;*/
    /*top: 300px;*/
    /*height: 165px;*/
    width: inherit;
    color: #565656;
    font-size: 13px;
    line-height: 15px;
    text-align: left;
    padding-top: 15px;
    overflow: hidden;
}

.who-we-are-info:hover>.bio {
    display: block;
}

.who-we-are-info:hover {
    box-shadow: 0 0 5px;
}
