@import "_tools/_tools.sass"


.footer
    &__menu
        width: 100%
        margin-bottom: (40/16)+rem
        @include respond-to (md)
                    align-self: flex-start


    &__copy
        text-shadow: 0.063rem 0.106rem 0.125rem rgba(0, 0, 0, 0.4)
        color: $color-prime
        font-family: $font-sec
        font-size: 0.75rem
        line-height: 0
        flex-shrink: 0

        @include respond-to (sm)
            align-self: flex-end
        @include respond-to (md)
            align-self: flex-start


        &_accent
            font-family: $font-sec_bold
