.header
    display: flex
    flex-direction: column
    padding-top: (70/16)+rem
    height: (569/16)+rem


    &__logo
        text-align: center

    &__menu
        margin: auto
        position: relative
        // top: 1.3rem
        z-index: 10
        max-width: 15rem


    &__slider
        position: relative
        top: -7.3rem
