.header
    display: flex
    flex-direction: column
    padding-top: (70/16)+rem
    // height: (569/16)+rem
    overflow: auto
    padding-bottom: (69/16)+rem
    @include respond-to (xs)
        padding-bottom: (61/16)+rem
    @include respond-to (sm)
        padding-bottom: (96/16)+rem
    @include respond-to (md)
        padding-bottom: (58/16)+rem



    &__logo
        text-align: center

    &__menu
        position: relative
        z-index: 10
        max-width: 15rem
        align-self: center
        @include respond-to (sm)
            align-self: flex-start
            max-width: 100%
            margin-top: (39/16)+rem
        @include respond-to (md)
            align-self: center
            margin-top: 0
            // max-width: 70%



    &__slider
        // position: relative
        // top: -7.3rem
        outline: 1px solid black
        margin-top: (-95/16)+rem
        @include respond-to (xs)
            margin-top: (-187/16)+rem
        @include respond-to (sm)
            margin-top: (81/16)+rem
        @include respond-to (md)
            margin-top: (172/16)+rem
