.substrate
    display: flex
    justify-content: center

    &_main-content
        background-color: #f9f9f9
        border-bottom: .0625rem solid #e6e6e6

    &_brands
        background-color: #f9f9f9
        border-top: .0625rem solid #fefefe


    &_articles
        background-image: linear-gradient(to top, #322539 0%, #745083 100%)
        flex-grow: 0
        flex-shrink: 1

    &_footer
        background: url('../img/footer-bg.jpg') center center no-repeat
        height: 12.563rem  
