.updates
    display: flex
    flex-direction: column
    // padding: 0 (20/16)+rem
    width: 100%
    flex-grow: 1
    flex-shrink: 0
    @include respond-to (sm)
        width: 35%


    &__title
        display: block
        text-shadow: 0.031rem 0.056rem 0 white
        color: #454545
        font-family: $font-prime
        font-size: 1.875rem
        line-height: 0.8
        text-transform: uppercase
        margin-bottom: (21/16)+rem

    &__item
        display: flex
        // width: 100%

    &__item-img
        width: 3.063rem
        height: 3.063rem
        border-radius: 100%
        margin-right: (17/16)+rem

    &__item-body
        display: flex
        flex-direction: column
        // width: 100%



    &__item-title
        text-shadow: 0.031rem 0.056rem 0 white
        color: #454545
        font-family: $font-sec_bold
        font-size: 1rem
        line-height: 1.5
        height: 1.5rem
        overflow: hidden
        display: block
        // width: 100%
    //
    // &__item-link
    //     width: 80%
    //     overflow: hidden
    //     display: block





    &__item-details
        text-shadow: 0.031rem 0.056rem 0 white
        color: #454545
        font-family: $font-sec
        font-size: 1rem
        line-height: 1.5
        flex-shrink: 0
        height: 1.5rem
        overflow: hidden
        display: block

    &__more
        text-shadow: 0.031rem 0.056rem 0 white
        color: #454545
        font-family: $font-prime
        font-size: 1.125rem
        line-height: 1.33
        text-transform: uppercase
        align-self: flex-end
